#idiot{
text-align: center;
color: #470644;
font-family: "Workbench", sans-serif;  


}
body{
    background-image: url(222.jpeg);
}
#pre{color:blue;
  font-family: "Workbench", sans-serif;}
 #pecer{  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;}
