
h1{
  color:blue;
  font-family: "Workbench", sans-serif;
}
body{
  background-image: url(222.jpeg);
}
h2{
  color:blueviolet;
  font-family: "Workbench", sans-serif;
}
ul li a{
  font-family: "Workbench", sans-serif;
  color:#ff6000;
  
}


